.Output {
    top: 5%;
    position: absolute;
    width: 1000px;
    height: 400px;
    left: 20%;
    right: 20%;
}

.Output-atsakymas {
    border-width: 2px 50px 2px 2px;
    border-radius: 5px;
    border-style: solid;
    height: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.atsakymas--true {
    border-color: green;
}

.atsakymas--false {
    border-color: red;
}

.atsakymas-text {
    margin-left: 5%;
}

.u-bold {
    font-weight: bold;
}

.u-padding {
    padding-top: 1.5%;
}

.u-blue {
    color: rgb(14, 90, 255);
    text-decoration: none;
}

.Output-button {
    background-color: #008CBA;
    font-size: 12px;
    padding: 8px 24px;
    border-radius: 8px;
    color: white;
    float: right;
    position: relative;
    font-weight: bold;
}